img{
  width: 60px;
  height: 68px;
}
.box{
  width: 250px;
  border-radius: 20px;
  background-color: lightgray;
  padding: 10px;
  /* margin: 3px; */
  display: inline-block;
  
  
}

h4{
  color: rgb(60, 95, 191);
}
.box1:after{
  float: right; /* left */
  width: auto;
  padding: 10px;
}

.box2:after{
  /* width: 100%; */
  display: flex;
  
}

.textbox1{
  float: left;
  width: 100%;
}
.textbox2{
  width: 100%;
  
}
.img1{
  float: left;
}
.img2{
  
}