*{
  margin: 0; 
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  padding: 7px;
  height: 17px;
}


.siteList_Button {
  margin-left: auto;
  /* float: right; */
  /* justify-content: flex-end; */
  border-style: none;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
}

.buttonIcon {
  color: #447231;
  font-weight: 700;
  height: 16px;
  width: 16px;
}

.favoriteSite_Container {
  position: relative;
  width: 190px;
  height: 147px;
  /* background-size: cover; */
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  padding: 0;
  /* gap: 8px; */
}

.favoriteList {
  counter-increment: number;
  margin-top: 8px;
  font-size: 11px;
  top: 20px;
  margin: auto 0;
  position: relative;
}

.favoriteList::before{
  content: counter(number);
  display: block;
  height: 16px;
  width: 16px;
  background: #A3A3A3;
  display: inline-block;
  text-align:center;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 11px;
}

.siteList {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding:0;
  gap: 8%;
}

.siteList_Header {
  position: absolute;
  display: flex;
  padding: 8px;
}

.siteTitle {
  color: #ED552F;
}

.sprite {
  background: url(/mission-01/images/rank.png) no-repeat;
  margin-left: auto;
  
}

.spriteUp {
  background-position: 0px 3px;
}

.spriteMaintain {
  background-position: -19px;
}

.spriteDown {
  background-position: -42px;
}